{{ define "post_title" }}my top 50 albums, 2014{{ end }}
{{ define "post_date" }}2014/04/17{{ end }}

{{ define "post_content" }}
  <table>
    <tbody>
      <tr>
        <td>Abakus</td>
        <td>Beyond the Fields EP</td>
      </tr>
      <tr>
        <td>Air</td>
        <td>10,000 Hz Legend</td>
      </tr>
      <tr>
        <td>Air</td>
        <td>Moon Safari</td>
      </tr>
      <tr>
        <td>Art of Noise</td>
        <td>The Seduction of Claude Debussy</td>
      </tr>
      <tr>
        <td>Caspa &amp; Rusko</td>
        <td>FabricLive.37</td>
      </tr>
      <tr>
        <td>Dungen</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Dungen</td>
        <td>Stadsvandringar</td>
      </tr>
      <tr>
        <td>Foxygen</td>
        <td>We Are the 21st Century Ambassadors …</td>
      </tr>
      <tr>
        <td>Gogol Bordello vs. Tamir Muskat</td>
        <td>Jewish Ukrainishe Freundschaft</td>
      </tr>
      <tr>
        <td>Gogol Bordello</td>
        <td>Gypsy Punks Underdog World Strike</td>
      </tr>
      <tr>
        <td>Goran Bregovic</td>
        <td>Songbook</td>
      </tr>
      <tr>
        <td>Grizzly Bear</td>
        <td>Veckatimest</td>
      </tr>
      <tr>
        <td>Grizzly Bear</td>
        <td>Yellow House</td>
      </tr>
      <tr>
        <td>Justice</td>
        <td>†</td>
      </tr>
      <tr>
        <td>King Krule</td>
        <td>6 Feet Beneath The Moon</td>
      </tr>
      <tr>
        <td>Kula Shaker</td>
        <td>K</td>
      </tr>
      <tr>
        <td>Kula Shaker</td>
        <td>Peasants, Pigs &amp; Astronauts</td>
      </tr>
      <tr>
        <td>Kula Shaker</td>
        <td>Strangefolk</td>
      </tr>
      <tr>
        <td>Kurt Vile</td>
        <td>Wakin On A Pretty Daze</td>
      </tr>
      <tr>
        <td>MGMT</td>
        <td>Congratulations</td>
      </tr>
      <tr>
        <td>Mac DeMarco</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Melody’s Echo Chamber</td>
        <td>Melody’s Echo Chamber</td>
      </tr>
      <tr>
        <td>My Morning Jacket</td>
        <td>At Dawn</td>
      </tr>
      <tr>
        <td>My Morning Jacket</td>
        <td>Circuital</td>
      </tr>
      <tr>
        <td>My Morning Jacket</td>
        <td>Z</td>
      </tr>
      <tr>
        <td>Ozric Tentacles</td>
        <td>Become the Other</td>
      </tr>
      <tr>
        <td>Ozric Tentacles</td>
        <td>Eternal Wheel</td>
      </tr>
      <tr>
        <td>Ozric Tentacles</td>
        <td>Pungent Effulgent</td>
      </tr>
      <tr>
        <td>P.O.N.D.</td>
        <td>Beard, Wives, Denim</td>
      </tr>
      <tr>
        <td>Pink Floyd</td>
        <td>The Dark Side Of The Moon</td>
      </tr>
      <tr>
        <td>Pink Floyd</td>
        <td>The Wall</td>
      </tr>
      <tr>
        <td>Pink Floyd</td>
        <td>Wish You Were Here</td>
      </tr>
      <tr>
        <td>Quilt</td>
        <td>Held In Splendor</td>
      </tr>
      <tr>
        <td>Supertramp</td>
        <td>Breakfast in America</td>
      </tr>
      <tr>
        <td>Supertramp</td>
        <td>Crime Of The Century</td>
      </tr>
      <tr>
        <td>Tame Impala</td>
        <td>Innerspeaker</td>
      </tr>
      <tr>
        <td>Tame Impala</td>
        <td>Lonerism</td>
      </tr>
      <tr>
        <td>Tame Impala</td>
        <td>Tame Impala EP</td>
      </tr>
      <tr>
        <td>Temples</td>
        <td>Sun Structures</td>
      </tr>
      <tr>
        <td>The Charlatans</td>
        <td>Some Friendly</td>
      </tr>
      <tr>
        <td>The Flaming Lips</td>
        <td>Soft Bulletin</td>
      </tr>
      <tr>
        <td>The Flaming Lips</td>
        <td>Yoshimi Battles the Pink Robots</td>
      </tr>
      <tr>
        <td>The Orb</td>
        <td>Orb’s Adventures Beyond the Ultraworld</td>
      </tr>
      <tr>
        <td>The Orb</td>
        <td>The Dream</td>
      </tr>
      <tr>
        <td>The Silents</td>
        <td>Sun A Buzz</td>
      </tr>
      <tr>
        <td>The War on Drugs</td>
        <td>Lost in the Dream</td>
      </tr>
      <tr>
        <td>Unknown Mortal Orchestra</td>
        <td>II</td>
      </tr>
      <tr>
        <td>Unknown Mortal Orchestra</td>
        <td>Unknown Mortal Orchestra</td>
      </tr>
      <tr>
        <td>Wilco</td>
        <td>Yankee Hotel Foxtrot</td>
      </tr>
      <tr>
        <td>Yello</td>
        <td>Touch Yello</td>
      </tr>
    </tbody>
  </table>
{{ end }}

{{ template "layout" . }}
