---
layout: default
---

<div class="header">
    <h1>{{ site.name }}</h1>
    {% include nav.html %}

</div>

<div class="blog">
    <h1>about</h1>
    <ul>
        <li><a href='http://www.computing.dcu.ie/undergraduate/pssd/computational-problem-solving-software-development-cpssd'>CPSSD</a> student from Co. Kildare, Ireland</li>
        <li>see <a href='{{ site.baseurl }}about'>here</a> for more</li>
    </ul>
</div>

<div class="blog">
    <h1>blog posts</h1>
    {% include blogs.html %}
</div>

<div>
    <img class="foot-img" src="{{ site.baseurl }}purdy.jpg">
</div>
