html { 
  background: url("images/yes.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#heading {
    text-transform: uppercase;
}

.blink {
    animation: blinker 0.5s infinite;
}

@keyframes blinker {
    100% { 
        opacity: 0; 
    }
}

h1 {
    font-size: 90px;
    color: white;
}

.image-marquee {
    text-align: center;
}

.marq-image {
    object-fit: cover;
    height: 200px;
    width: 200px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    border-radius: 20px;
}

@-moz-keyframes spin { 
    100% { 
        -moz-transform: rotate(360deg); 
    } 
}

@-webkit-keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
    } 
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    }
}

.trans-back {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0 0 0 0;
    border-radius: 20px;
    padding-bottom: 10px;
}

.center {
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
