---
---

@import reset
@import config

\:root
  --colour-html: white
  --colour-background: #ffc1071a
  --colour-text: black
  --colour-link: #1a0dab

body
  color: var(--colour-text)
  font-family: "Inconsolata"
  font-size: 16px
  margin: 0 auto
  max-width: 500px
  overflow-y: scroll
  padding: $section-margin
  margin: 0 auto

@media only screen and (min-width: 480px)
  html
    padding: 0 $section-margin
    background-color: var(--colour-html)
  body
    background-color: var(--colour-background)
    margin: $section-margin auto
    box-shadow: 3px 3px 0px 0px #00000020

img
  width: 100%
  height: auto

h1
  font-size: 1.2rem

h3
  font-size: 1.2rem
  font-weight: bold
  margin: 1rem 0

div.highlight, code
  color: black
  background-color: #f0f0f0

div.highlight
  margin: 0.6rem 0
  padding: 0.6rem

a
  text-decoration: none
  color: var(--colour-link)

td
  border: 0px solid transparent
  background-clip: padding-box

tr > td + td
  border-left-width: 0.5rem

li
  list-style-type: square
  margin-left: 1rem

div.highlight
  outline: 3px solid white

code.highlighter-rouge
  background-color: inherit
  text-decoration: underline

h1, h2, h3, #purdy
  margin-top: $section-margin

#purdy
  display: flex
  flex-direction: row
  flex-flow: row nowrap
  img
    width: calc(100% / 3)

#header
  display: flex
  justify-content: space-between
  align-items: baseline
  flex-wrap: wrap
  h1 
    margin: 0
    a
      color: inherit
  ul
    text-align: right
    flex-grow: 1
    li
      display: inline-block
      & ~ li
        margin-left: 0.25rem

#post__title
  text-decoration: underline
  font-weight: bold

#post__date
  font-style: italic

#post__content
  margin-top: $section-margin
